
<div class="container">
  <div class="navBar">
    <img class="profileImg" src="../../assets/profileImg.png"/>
    <label class="profileName">RACHAYYA</label>
  </div>
    <h1 class="headline">Warranty Data Analysis</h1>
    <div class="card1">
      <img class="speedtest" src="../../assets/speedtest.png"/>
      <label class="NValue">Role-Based Dashboard</label>
    </div>
    <div class="card2">
      <img class="BWindow" src="../../assets/BWindow.png"/>
      <label class="NValue">Online Claim Form</label>
    </div>
    <div class="card3">
      <img class="star" src="../../assets/report.png"/>
      <label class="NValue">Claim Management</label>
    </div>
    <div class="card4">
      <img class="sScheduler" src="../../assets/time.png"/>
      <label class="NValue">Service Scheduler</label>
    </div>
    <div class="card5">
      <img class="lineGraph" src="../../assets/linegraph.png"/>
      <label class="NValue">Advanced Reporting</label>
    </div>
    <div class="card6">
      <img class="star" src="../../assets/star.png"/>
      <label class="NValue">Satiafaction Surveys</label>
    </div>
</div>
