<div class="container">
  <div class="leftform">
    <div>
      <p class="headtxt">Warranty Analysis</p>
    </div>
    <div class="circle">
      <img src="../../assets/working.png" class="working"/>
    </div>
    
  </div>
  <div class="rightform">
    <label class="title">WELCOME</label>  
    <input type="text" class="username" name="username" id="username" placeholder="User name or email"/>
    <input type="text" class="password" name="password" id="password" placeholder="Password"/>
    <button class="loginbtn">Login</button>
  </div>
</div>